*{
  margin:0px;
  padding:0px;
}
/* general setting ends */
.appContainer{
   overflow: hidden;
}
.heading{
  font-size: 40px;
  color: rgb(67, 65, 65);
  font-family: sans-serif;
}
.para{
  font-family: monospace;
  color: gray;
  font-size: 20px;
}
.quizHeading{
  height: 80px;
}
.option{
  cursor: pointer;
}
.option:hover{
  background-color: rgb(106, 106, 59);
  border-radius: 8px;
  color: white;
}
.selectedOption{
  background-color: yellowgreen;
  border-radius: 8px;
  color: white;
}
.selectedOption:hover{
  background-color: green;
  border-radius: 8px;
  color: white;
}
.resultContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 20px;
}
.resultContainer h4{
  font-weight: 800;
  font-family: monospace;
}
/* media querry for mobile */
@media only screen and (max-width:500px){
  .para{
    font-size: 18px;
  }
  .heading{
    font-size: 22px;
  }
  .childIcon{
    height: 300px;
  }
  .mobHeight{
    height: 100vh;
  }
  .resultContainer{
    padding-top: 40vh;
    height: 100vh;
    width: 100%;
  }
}